@import "tailwindcss";

/* 1. Tell Tailwind v4 to use the .dark class for the dark: variant */
@variant dark (&:where(.dark, .dark *));

:root {
  --bg-app: #ffffff;
  --fg-app: #171717;
}

.dark {
  /* --bg-app: #0a0a0a; */
  --fg-app: #ededed;
}


@theme {
  /* 2. Map your variables to Tailwind names */
  /* Use 'app-bg' instead of 'background' to avoid utility collisions */
  --color-app-bg: var(--bg-app);
  --color-app-fg: var(--fg-app);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 3. Use standard properties for the body */
body {
  background-color: var(--bg-app);
  color: var(--fg-app);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}

html,
body {
  scroll-behavior: smooth;
}